/* You can add global styles to this file, and also import other style files */


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

body{
    background-color: #D0B8A8;
    justify-content: center;
    text-align: center;
}

h1 {
    text-align: left;
    color: #2C3333;
}

th {
    background-color: #2C3333;
    color: azure;
}

table {
    width: 100%;
}

.button {
    background-color: #2C3333;
    transition: .3s ease;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;

}

.button-delete{
    background-color: #2C3333;
    transition: .3s ease;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;

}

.button-update {
    background-color: #A27B5C;
    transition: .3s ease;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 7px;
    margin-top: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;

}

.submit-button{
    background-color: #2C3333;
        transition: .3s ease;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
}

.submit-button:hover{
    background-color: #F9F9F9;
        color: #2C3333;
}

.button:hover{
    background-color: #F9F9F9;
    color: #2C3333;
}

.button-delete:hover {
    background-color: #A27B5C;
    color: #2C3333;
}

.button-update:hover {
    background-color: #2C3333;
    color: #A27B5C;
}

tr:hover {
    background-color: #bdb8d7;
}

tr:nth-child(even) {
    background-color: #F9F9F9;
}

tr:nth-child(odd) {
    background-color: #EFEFEF;
}

.table-bordered{
    border: 0px;
}

.table-responsive{
    display: inline-table;
    width: 100%;
    overflow-x: auto;
   
}

.table-responsive:hover{
    background-color:#C8C6C6;
}



