<h1>{{title}}</h1>

<h2 *ngIf="publishers.length<1">No Data</h2>
<div style="margin: 20px; float:right">
    <button class="button" (click)="addPublisher()"> Add Publisher</button>
</div>
<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody *ngIf="publishers.length > 0">
        <tr *ngFor="let publisher of publishers">
            <td>{{publisher.id}}</td>
            <td>{{publisher.name}}</td>
            <td>{{publisher.address}}</td>
            <td>{{publisher.phone}}</td>
            <td>{{publisher.email}}</td>
            <td>
                <button class="button-delete" (click)="deletePublisher(publisher.id)">Delete</button>
                <button class="button-update" (click)="updatePublisher(publisher.id)">Update</button>
            </td>
        </tr>
    </tbody>
</table>


