<div style="padding-left: 100px;">
    <h1>Add Author</h1>

    <form [formGroup]="authorsForm" (ngSubmit)="saveAuthor()">
        <label>Author Name</label>
        <input type="text" formControlName="name">

        <label>Birthdate</label>
        <input type="text" formControlName="birthDate">

        <label>Nationality</label>
        <input type="text" formControlName="nationality">

        <div *ngIf="authorsForm.valid">
            <input class="submit-button" type="submit" value="Add author">
        </div>

    </form>
</div>

<!-- <h3>Form status : {{authorsForm.valid}}</h3>
<h3>Form json : {{authorsForm.value | json}}</h3> -->