<!-- <div class="sidenav">
    <a href="http://localhost:4200/admin" class="btn btn-space btn-light btn-small " role="button"
        aria-pressed="true">Admin</a>
    <a href="http://localhost:4200/students" class="btn btn-space btn-light btn-lg " role="button"
        aria-pressed="true">Students</a>
    <a href="http://localhost:4200/books" class="btn btn-space btn-light btn-lg " role="button"
        aria-pressed="true">Books</a>
    <a href="http://localhost:4200/authors" class="btn btn-space btn-light btn-lg " role="button"
        aria-pressed="true">Authors</a>
    <a href="http://localhost:4200/publishers" class="btn btn-space btn-light btn-lg " role="button"
        aria-pressed="true">Publishers</a>
    <a href="http://localhost:4200/loans" class="btn btn-space btn-light btn-lg " role="button"
        aria-pressed="true">Loans</a>
</div>  -->
