/* .sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    float: left;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2C3333;
    overflow-x: hidden;
    padding-top: 150px;
}


.sidenav a {
    padding: 10px 10px;
    margin: 20px 35px 20px 35px;
    text-decoration: none;
    font-size: 25px;
    color: #2C3639;
    display: block;
}

.btn-light{
    border-color: #A27B5C;
}

.sidenav a:hover {
    color: azure;
}

.btn:hover{
    background-color: #A27B5C;
} */