@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

header{
    text-align: center;
    color: azure;
    background-color: #2C3333;
    padding: 50px;
    box-shadow: 0 0 3px #000;
}

body {
  background-color: #f3f5f9;
  padding-top: 50px;
  height: auto;
}

header li{
    display: inline;
    font-family:'Josefin Sans',
        sans-serif;
    font-size: 40px;
}

header li a{
    padding: 13px;
    font-size: 20px;
}

header li img{
    width: 100px;
    float: left;
    margin-top: 
    -10px;
}

.options{
  text-align: left;
}

.headings{
  text-align: center;
  padding-left: 20px;
}

header ul #contact a{
    color: #212529;
    background-color: azure;
    border-radius: 50px;
    float: right;
    position: relative;
    transition: .3s ease;
    text-decoration: none;
    margin-left: -100px;
}

header ul #contact a:hover{
    background-color:#A27B5C ;
    color: azure;
}

#sidenav {
    background-color: #2C3333;
}


#sidenav a {
    padding: 10px 10px;
    margin: 20px 35px 20px 35px;
    text-decoration: none;
    font-size: 25px;
    color: #2C3639;
    display: block;
}

.btn-light {
    border-color: #A27B5C;
}

#sidenav a:hover {
    color: azure;
}

.btn:hover {
    background-color: #A27B5C;
}

.col{
    padding-left: 0%;
    padding-right: 0%;
}

.bookicon{
        width: 155px;
        padding-left: 0px;
        padding-top: 35px;
        padding-bottom: 55px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

#sidebar{
    background-color: #2C3333;
    height: 100%;
    z-index: 1;
    
}

.wrapper #sidebar{
  width: 200px;
  height: 100%;
  background: #2C3333;
  padding:0px;
  margin:0px;
  position: fixed;
  top: 0;
}

.wrapper #sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper #sidebar ul li{
  padding: 15px;
  font-family: 'Josefin Sans',sans-serif;
transition: .3s ease;
}    

.wrapper #sidebar ul li a{
  color: #F5F5F5;
  display: block;
  text-decoration: none;
}

.wrapper #sidebar ul li:hover{
  background-color: #A27B5C;
}
    
.wrapper #sidebar ul li:hover a{
  color: #fff;
}

.wrapper #content{
  width: 100%;
  margin-left: 250px;
  margin-top: 50px;
}

.wrapper #content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}
